*
{
    margin: 0;
    padding: 0;
}


body {
    background-color: #eee6db;
    font-family: Montserrat, sans-serif;
    color: #1b4953;
    font-size: 1.1vw;
    line-height: 1;
    overflow: hidden;
    position: relative;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.webgl
{
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
}



.play {
    position: fixed;
    top: 0%;
    background-color: rgb(184, 184, 184);
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 100;
}




.section {
    width: 100%;
}

.section.map {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 99;
}

.container {
    width: 90vw;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.container.full-width {
    width: 100%;
    max-width: none;
}

.section-navigation {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-bottom: 0px;
}

.navigation-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 6vh;
    background-color: #ec2127;
}

.right-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.left-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.center-col {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.body {
    background-color: #eee6db;
}

.navtext-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 2rem;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navtext-wrapper.footer {
    padding: 0.5rem 1rem;
    -webkit-transition: all 200ms cubic-bezier(.455, .03, .515, .955);
    transition: all 200ms cubic-bezier(.455, .03, .515, .955);
    color: #ec2127;
}

.navtext-wrapper.footer:hover {
    background-color: #ec2127;
    color: #eee6db;
}

.navtext {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navtext.footer {
    font-size: 1em;
}

.nav-textbox {
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: #efdcbf;
    text-decoration: none;
}

.image {
    display: block;
    width: 200px;
}

.html-embed {
    display: none;
}

.site-logo {
    padding: 1rem 2rem 1.5rem;
    border-style: none solid solid;
    border-width: 0.25rem;
    border-color: #45b1c8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffd4b7;
    box-shadow: 0 0 30px -20px #000;
}

.site-logo.w--current {
    width: 300px;
}

.control-wrap {
    position: absolute;
    left: auto;
    top: 7%;
    right: -2px;
    bottom: auto;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: auto;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.control-button {
    position: relative;
    z-index: 991;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    margin-bottom: 0.25rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    border-radius: 10px;
    background-color: #ffd4b7;
    box-shadow: 0 0 30px -20px #000;
    cursor: pointer;
}

.div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon {
    width: 50%;
    height: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.control-button-text {
    position: absolute;
    left: auto;
    top: 0%;
    right: 1rem;
    bottom: auto;
    z-index: 990;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    margin-top: 1.25rem;
    padding: 0.25rem 4rem 0.25rem 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    border-radius: 10px;
    background-color: #ffd4b7;
    white-space: nowrap;
}

.text-block {
    font-family: Kcgangstersans, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.play {
    position: fixed;
    left: 40%;
    top: auto;
    right: 40%;
    bottom: 15%;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    background-color: #ffd4b7;
    -webkit-transition: all 200ms cubic-bezier(.455, .03, .515, .955);
    transition: all 200ms cubic-bezier(.455, .03, .515, .955);
    font-family: 'Open Sans', sans-serif;
    color: #ec2127;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.play:hover {
    background-color: #ec2127;
    color: #eee6db;
}

.time {
    position: fixed;
    left: 1%;
    top: 91%;
    right: auto;
    bottom: auto;
    z-index: 999;
    display: none;
    height: 75px;
    min-width: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    background-color: #ffd4b7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;
}

.time-copy {
    position: fixed;
    left: 1%;
    top: 82%;
    right: auto;
    bottom: auto;
    z-index: 999;
    display: none;
    height: 75px;
    min-width: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    background-color: #ffd4b7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;
}

.stats {
    position: fixed;
    left: 1%;
    top: 19%;
    right: auto;
    bottom: auto;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    min-width: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    background-color: #ffd4b7;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;
}

.paragraph {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: Kcgangstersans, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1.25px;
    text-transform: none;
}

.section-footer {
    position: fixed;
    left: 3%;
    top: auto;
    right: auto;
    bottom: 3%;
    z-index: 999;
    margin-bottom: 0px;
}

.footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 3vh;
    border-style: solid;
    border-width: 2px;
    border-color: #45b1c8;
    border-radius: 0.5rem;
    background-color: #ffd4b7;
}

.center-col-footer {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.canvas-wrap {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
}

@media screen and (max-width: 991px) {
    body {
        background-color: #eee6db;
        font-size: 2.5vw;
    }

    .text-block {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 479px) {
    body {
        font-size: 4vw;
    }
}

/* @font-face {
    font-family: 'Kcgangstersans';
    src: url('../assets/KCGangsterSans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kcgangstersans';
    src: url('../KCGangsterSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */