*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    position: relative;
}

.webgl
{
    position: fixed;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    outline: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.caption {
    position: fixed;
    bottom: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.caption p {
    padding: 1rem;
    color: black;
    background-color: rgb(184, 184, 184);
    font-family: sans-serif;
}

.nav {
    position: fixed;
    top: 45%;
    background-color: rgb(184, 184, 184);
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 100;
}

.play {
    position: fixed;
    top: 0%;
    background-color: rgb(184, 184, 184);
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 100;
}